<div class="col-md-12">
  <div class="card card-user">
    <div class="card-header">
      <h5 class="card-title">Administración de donaciones</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="formDonation" (ngSubmit)="onSaveEdit()">
        <div class="row">
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label>Nombre del donador </label>
              <input type="text" class="form-control" placeholder="Nombre completo" formControlName="name">
              <p class="text-danger"
                *ngIf="this.formDonation.get('name').hasError('required') && this.formDonation.get('name').touched">
                ¡Debe ingresar este campo!
              </p>
            </div>
          </div>
          <div class="col-md-6 pl-1">
            <div class="form-group">
              <label>Fecha </label>
              <input type="date" class="form-control" placeholder="fecha" formControlName="date">
              <p class="text-danger"
                *ngIf="this.formDonation.get('date').hasError('required') && this.formDonation.get('date').touched">
                ¡Debe ingresar este campo!
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label>Monto</label>
              <input type="text" class="form-control" placeholder="$" formControlName="amout">
              <p class="text-danger"
                *ngIf="this.formDonation.get('amout').hasError('required') && this.formDonation.get('amout').touched">
                ¡Debe ingresar este campo!
              </p>
            </div>
          </div>
          <div class="col-md-6 pl-1">
            <div class="form-group">
              <label>Tipo </label>
              <select class="form-control" formControlName="type">
                <option value="" disabled selected hidden>Selecciona una opción</option>
                <option selected value="Dinero">Dinero</option>
                <option value="Ropa">Ropa</option>
                <option value="Medicamento">Medicamento</option>
                <option value="Alimentos">Alimentos</option>
                <option value="Muebles">Muebles</option>
              </select>
              <p class="text-danger"
                *ngIf="this.formDonation.get('type').hasError('required') && this.formDonation.get('type').touched">
                ¡Debe seleccionar una opción!
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Notas</label>
              <textarea class="form-control textarea" placeholder="Descripcion del donativo" formControlName="notes"></textarea>
              <p class="text-danger"
                *ngIf="this.formDonation.get('notes').hasError('required') && this.formDonation.get('notes').touched">
                ¡Debe ingresar este campo!
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="update ml-auto mr-auto">
            <button type="submit" class="btn btn-primary btn-round" [disabled]="this.formDonation.invalid">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Registros</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-primary">
            <th class="text-center">
              Nombre
            </th>
            <th class="text-center">
              Fecha
            </th>
            <th class="text-center">
              Monto
            </th>
            <th class="text-center">
              Tipo
            </th>
            <th class="text-center">
              Notas
            </th>
            <th class="text-center">
              Acción
            </th>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let item of donationList
                  | paginate
                    : {
                        id: 'data',
                        itemsPerPage: items,
                        currentPage: page,
                        totalItems: registerNumber
                      }
              "
            >
              <td class="text-center">
                {{item.name}}
              </td>
              <td class="text-center">
                {{item.date}}
              </td>
              <td class="text-center">
                {{item.amout}}
              </td>
              <td class="text-center">
                {{item.type}}
              </td>
              <td class="text-center">
                {{item.notes}}
              </td>
              <td class="text-center">
                <button
                  type="submit"
                  (click)="onEditDonation(item)"
                  class="btn btn-primary btn-link nc-icon nc-ruler-pencil"
                ></button>
                <button
                  type="submit"
                  (click)="onDeleteDonation(item.id)"
                  class="btn btn-danger btn-link nc-icon nc-simple-remove"
                ></button>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls
            id="data"
            (pageChange)="pageChanged($event)"
            (pageBoundsCorrection)="pageChanged($event)"
            maxSize="10"
            directionLinks="true"
            autoHide="true"
            responsive="true"
            previousLabel="Anterior"
            nextLabel="Siguiente"
            screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page"
          >
          </pagination-controls>
      </div>
    </div>
  </div>
</div>
