<div class="col-md-12">
  <div class="card card-user">
    <div class="card-header">
      <h5 class="card-title">Administración de Usuarios</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="formUser" (ngSubmit)="onSaveEdit()">
        <div class="row">
          <div class="col-md-4 pr-1">
            <div class="form-group">
              <label>Email</label>
              <input
                type="text"
                class="form-control"
                placeholder="Email"
                formControlName="email"
              />
              <p
                class="text-danger"
                *ngIf="
                  this.formUser.get('email').hasError('required') &&
                  this.formUser.get('email').touched
                "
              >
                ¡Debe ingresar este campo!
              </p>
            </div>
          </div>
          <div class="col-md-4 pr-1">
            <div class="form-group">
              <label>Contraseña </label>
              <input
                type="text"
                class="form-control"
                placeholder="Contraseña"
                formControlName="password"
              />
              <p
                class="text-danger"
                *ngIf="
                  this.formUser.get('password').hasError('required') &&
                  this.formUser.get('password').touched
                "
              >
                ¡Debe ingresar este campo!
              </p>
            </div>
          </div>
          <div class="col-md-4 pl-1">
            <div class="form-group">
              <label>Confirmar Contraseña</label>
              <input
                type="text"
                class="form-control"
                placeholder="Confirmar Contraseña"
                formControlName="passwordConfirm"
              />
              <p
                class="text-danger"
                *ngIf="
                  this.formUser.get('passwordConfirm').hasError('required') &&
                  this.formUser.get('passwordConfirm').touched
                "
              >
                ¡Debe ingresar este campo!
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="update ml-auto mr-auto">
            <button
              type="submit"
              class="btn btn-primary btn-round"
              [disabled]="this.formUser.invalid"
            >
              Enviar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Registros</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <th class="">Nombres</th>
            <th class="">Fecha de creacion</th>
            <th class="">Acción</th>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let user of usersList
                  | paginate: { id: 'data', itemsPerPage: items, currentPage: page , totalItems: registerNumber }
              "
            >
              <td class="">{{ user.email }}</td>
              <td class="">{{ user.created | date: "short" }}</td>
              <td class="d-flex justify-content-center">
                <button
                  type="submit"
                  class="btn btn-primary btn-link nc-icon nc-ruler-pencil"
                  (click)="onEditUser(user)"
                ></button>
                <button
                  type="submit"
                  (click)="onDeleteuser(user.id)"
                  class="btn btn-danger btn-link nc-icon nc-simple-remove"
                ></button>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls
          id="data"
          (pageChange)="pageChanged($event)"
          (pageBoundsCorrection)="pageChanged($event)"
          maxSize="10"
          directionLinks="true"
          autoHide="true"
          responsive="true"
          previousLabel="Anterior"
          nextLabel="Siguiente"
          screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page"
        >
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
