<div class="col-md-12">
  <div class="card card-user">
    <div class="card-header">
      <h5 class="card-title">Modificar Usuario</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="formUser" (ngSubmit)="onSaveEdit()">
        <div class="row">
          <div class="col-md-4 pr-1">
            <div class="form-group">
              <label>Email</label>
              <input
                type="text"
                class="form-control"
                placeholder="Email"
                formControlName="email"
              />
              <p
                class="text-danger"
                *ngIf="
                  this.formUser.get('email').hasError('required') &&
                  this.formUser.get('email').touched
                "
              >
                ¡Debe ingresar este campo!
              </p>
            </div>
          </div>
          <div class="col-md-4 pr-1">
            <div class="form-group">
              <label>Contraseña </label>
              <input
                type="text"
                class="form-control"
                placeholder="Contraseña"
                formControlName="password"
              />
              <p
                class="text-danger"
                *ngIf="
                  this.formUser.get('password').hasError('required') &&
                  this.formUser.get('password').touched
                "
              >
                ¡Debe ingresar este campo!
              </p>
            </div>
          </div>
          <div class="col-md-4 pl-1">
            <div class="form-group">
              <label>Confirmar Contraseña</label>
              <input
                type="text"
                class="form-control"
                placeholder="Confirmar Contraseña"
                formControlName="passwordConfirm"
              />
              <p
                class="text-danger"
                *ngIf="
                  this.formUser.get('passwordConfirm').hasError('required') &&
                  this.formUser.get('passwordConfirm').touched
                "
              >
                ¡Debe ingresar este campo!
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="update ml-auto mr-auto">
            <button
              type="submit"
              class="btn btn-primary btn-round"
              (click)="onUpdateUser()"
            >
              Enviar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
